;
; Configuration file for OpenXCAP
;

[Server]

; IP address and port to listen for requests
; 0.0.0.0 means any address of this host
address = 0.0.0.0
port = 8000
; TLS enabling
tls = No
; The XCAP Root URI; must not contain any port number and 
; must always start with http:// even if https:// is used to access the server
root = http://xcap.example.com/
; The backend to be used for storage and authentication. Current supported
; values are Database and OpenSER.
backend = Database
; Validate XCAP documents against XML schemas, default is Yes
document_validation = No

[Authentication]

; The HTTP authentication type, this can be either 'basic' or 'digest'.
; If you're using TLS, it's better to choose 'basic' because the data is encrypted anyway.
type = basic
; Specify if the passwords are stored as plain text - Yes
; or in a hashed format MD5('username:domain:password') - No
cleartext_passwords = Yes
; The default authentication realm
default_realm = example.com
; A list of trusted peers from where XCAP requests are accepted without HTTP authentication
; e.g. trusted_peers = 10.0.0.0/24, 192.168.0.1
trusted_peers =

[TLS]

; Server X509 certificate
certificate = tls/server.crt
; Server X509 private key
private_key = tls/server.key

[Database]

; Configuration settings for Database backend, active if this backend was selected
; in the [Server] section
; The database connection URI for the datase with subscriber accounts
authentication_db_uri = mysql://username:password@db-host/openser
; The database connection URI for the database that stores the XCAP documents
storage_db_uri = mysql://username:password@db-host/openser
; Authentication and storage tables
subscriber_table = subscriber
xcap_table = xcap_xml

[OpenSER]

; Configuration settings for OpenSER backend, active if this backend was selected
; in the [Server] section
; The database connection URI for the datase with subscriber accounts
authentication_db_uri = mysql://username:password@db-host/openser
; The database connection URI for the database that stores the XCAP documents
storage_db_uri = mysql://username:password@db-host/openser
; Authentication and storage tables
subscriber_table = subscriber
xcap_table = xcap_xml
; The address and port where the XMLRPC Management Interface of OpenSER is listening
xmlrpc_url = http://localhost:8080
