;
; Configuration file for OpenXCAP
;
; Copyright (c) 2007-2008 AG Projects
; http://ag-projects.com

[Server]

; IP address and port to listen for requests
; 0.0.0.0 means any address of this host
address = 0.0.0.0
port = 443

; The XCAP Root URI; must not contain any port number. If the scheme is
; https, then the server will listen for requests in TLS mode.

; This is a comma/space separated list of XCAP root URIs. The first is the
; primary XCAP root URI, while the others (if specified) are aliases.
; The primary root URI is used when generating xcap-diff

root = https://xcap.example.com/xcap-root

; The backend to be used for storage and authentication. Current supported
; values are Database and OpenSIPS. OpenSIPS backend inherits all the settings
; from the Database backend but performs extra actions related to the
; integration with OpenSIPS for which it read the settings from [OpenSIPS]
; section

backend = OpenSIPS

; Validate XCAP documents against XML schemas
document_validation = Yes


[Logging]
; directory where to put log files, default is /var/log/openxcap
; if empty, like in the following line, logs will be printed to stdout
;directory=

; The following log_* parameters control what information is logged for which errors.
; Their format is comma-separated list of HTTP error codes that should enable the feature
; currently implemented: log_request_headers, log_response_body, log_stacktrace

; Some examples:

; * log stack trace for 500 Internal Error only (default)
;log_stacktrace=500

; * log stack trace (if available) for any error
;log_stacktrace=any

; * log responses sent to the client for 400 and 409 errors (default is 500)
;log_response_body=400,409

; * log headers sent by the client for 401 errors (default is 500)
;log_request_headers=401


[Authentication]

; The HTTP authentication type, this can be either 'basic' or 'digest'.
; If you're using TLS, it's better to choose 'basic' because the data is encrypted anyway.
type = basic

; Specify if the passwords are stored as plain text - Yes
; or in a hashed format MD5('username:domain:password') - No
cleartext_passwords = Yes

; The default authentication realm
default_realm = example.com

; A list of trusted peers from where XCAP requests are accepted without HTTP authentication
; e.g. trusted_peers = 10.0.0.0/24, 192.168.0.1
trusted_peers =


[TLS]

; Location of X509 certificate and private key that identify this server. The path is
; relative to /etc/openxcap, or it can be given as an absolute path.
; Server X509 certificate
;certificate = tls/server.crt

; Server X509 private key
;private_key = tls/server.key


[Database]

; The database connection URI for the datase with subscriber accounts
authentication_db_uri = mysql://username:password@db/database

; The database connection URI for the database that stores the XCAP documents
storage_db_uri = mysql://username:password@db/database

; Authentication and storage tables
subscriber_table = subscriber
xcap_table = xcap


[OpenSIPS]

; The address and port of the xml-rpc management interface
xmlrpc_url = http://sip.example.com:8080

; Publish xcap-diff event via OpenSIPS management interface 
; enable_publish_xcapdiff = yes

