recursive-include debian   changelog compat control copyright docs rules
recursive-include debian   format lintian-overrides openxcap.service
recursive-include scripts  *.py *.sql
recursive-include tls      README
recursive-include test     *
prune debian/.debhelper
prune debian/openxcap
prune debian/tmp
include INSTALL LICENSE MANIFEST.in TODO
