include LICENSE
include INSTALL.md
include README.md
include MANIFEST.in
include alembic.ini

include debian/changelog
include debian/compat
include debian/control
include debian/copyright
include debian/docs
include debian/lintian-overrides
include debian/logrotate
include debian/rules
include debian/service
include debian/source/format

include tls/README

recursive-include scripts *.py *.sql
recursive-include test    *.py *.xsd
recursive-include migrations *.py *.mako
