recursive-include debian   changelog compat control copyright docs rules
recursive-include debian   format lintian-overrides logrotate service
recursive-include scripts  *.py *.sql
recursive-include test     *.py *.xsd
recursive-include tls      README
prune debian/.debhelper
prune debian/openxcap
prune debian/tmp
include INSTALL LICENSE MANIFEST.in TODO
