fastapi==0.115.*
sqlmodel==0.0.22
uvicorn==0.32.0
alembic==1.10.0
python-dotenv==0.21.0
pydantic>=1.10.0
python3-application @ git+https://github.com/AGProjects/python3-application.git
python3-gnutls @ git+https://github.com/AGProjects/python3-gnutls.git
python3-xcaplib @ git+https://github.com/AGProjects/python3-xcaplib.git
lxml==5.3.* 
aiosqlite==0.21.0
aiomysql==0.2.0
cachetools>=5.0.0
twisted
greenlet
