Source: openxcap
Section: net
Priority: optional
Maintainer: Lucian Stanescu <luci@ag-projects.com>
Uploaders: Dan Pascu <dan@ag-projects.com>, Ruud Klaver <ruud@ag-projects.com>, Adrian Georgescu <ag@ag-projects.com>
Build-Depends: cdbs (>= 0.4.47), debhelper (>= 5.0.42), python-all-dev (>= 2.5.2), python-support
Standards-Version: 3.8.2

Package: openxcap
Architecture: all
Depends: ${python:Depends}, python-lxml (>= 2.0.7-1), python-zopeinterface, python-twisted-core, python-twisted-web, python-twisted-web2, python-application (>= 1.1.3), python-gnutls (>= 1.1.8), python-sqlobject, python-xml, python-mysqldb
Description: An Open Source XCAP server implementation
 XCAP protocol allows a client to read, write and modify application
 configuration data stored in XML format on a server. XCAP maps XML document
 sub-trees and element attributes to HTTP URIs, so that these components can
 be directly accessed by HTTP. An XCAP server is used by the XCAP clients to
 store data like Presence policy in combination with a SIP Presence server
 that supports PUBLISH/SUBSCRIBE/NOTIFY methods to provide a complete SIP
 SIMPLE server solution.
