[Unit]
Description=Open XCAP Server
After=network.target nss-lookup.target mysqld.service mariadb.service thor-eventserver.service

[Service]
Type=simple
Environment=PYTHONUNBUFFERED=yes
ExecStart=/usr/bin/openxcap --systemd
Restart=on-abnormal
LimitCORE=infinity

[Install]
WantedBy=multi-user.target
