#!/usr/bin/make -f

#export DH_VERBOSE=1

%:
	dh  $@ --with python2

override_dh_clean:
	dh_clean
	rm -rf build dist MANIFEST

override_dh_install:
	dh_install
	install -m 0644 config.ini.sample debian/openxcap/etc/openxcap/config.ini

.PHONY: override_dh_clean override_dh_install
